*.beam
*.ez
*/build
erl_crash.dump
**/.lustre/

# TLS certs for local development
*.crt
*.key

# Don't check in the generated .js files
server/priv/**/*.js

# Temporary
gtfs_subway.zip

**/schedule_sample.gleam
**/schedule_sample/**
