:root {
  --color-bg-0: oklch(0.1 0.05 265.55);
  --color-bg-1: oklch(from var(--color-bg-0) 0.2 c h);
  --color-bg-btn-highlight: oklch(from var(--color-bg-1) 0.3 c h);
  --color-bg-row-highlight: oklch(from var(--color-bg-1) 0.4 c h);
  --color-text: #eee;

  --bullet-size: 1.5em;
}

html,
body {
  background-color: var(--color-bg-0);
  color: var(--color-text);
}

.arrival-list,
.stops-list {
  list-style: none;
  padding: 0;

  li a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-text);
    text-decoration: none;

    background-color: var(--color-bg-1);
    &.highlight {
      background-color: var(--color-bg-row-highlight);
    }

    box-sizing: border-box;
    height: calc(var(--bullet-size) + var(--padding));

    --padding: 0.5em;
    --margin: calc(var(--padding) * 2 / 3);

    padding: var(--padding);
    &:has(.route-bullet) {
      /* The route bullet will take care of adding its own padding */
      padding-left: 0;
    }
    .route-bullet {
      margin-top: calc(var(--padding) / 2);
      margin-left: calc(var(--padding) / 2);
      flex-shrink: 0;
    }

    margin: var(--margin) 0;
    border-radius: var(--bullet-size);

    * {
      /* Actual alignment of text vertically!! */
      text-box: trim-both cap alphabetic;
      @supports not (text-box: trim-both cap alphabetic) {
        /* TODO: this is kinda hacky and probably font-dependent */
        /* Does seem to be pretty close though */
        line-height: 1;
        margin-top: -0.05em;
        margin-bottom: -0.25em;
      }
    }
  }
}

.route-bullet {
  color: var(--color-bullet-text);
  position: relative;
  &::before {
    position: absolute;
    background-color: var(--color-bullet-bg);
    content: "";
    width: var(--bullet-size);
    height: var(--bullet-size);
    top: calc(-1 * var(--bullet-size) / 6);
    left: 0;
    z-index: -1;
    border-radius: 100%;
  }
  z-index: 0;

  display: inline-block;
  padding: 0.1em;
  margin: 0.1em;
  width: var(--bullet-size);
  height: var(--bullet-size);
  min-width: var(--bullet-size);
  min-height: var(--bullet-size);
  box-sizing: border-box;

  text-align: center;
  vertical-align: baseline;

  font-family: "Helvetica", sans-serif;
  text-decoration: none;
}

.bullet-group {
  display: inline flex;
  align-items: center;
  gap: 0.1em;

  background-color: var(--color-bg-1);
  text-decoration: none;

  box-sizing: border-box;
  --height: calc(var(--padding) + var(--bullet-size));
  height: var(--height);

  --padding: 0.5em;
  padding: 0 calc(var(--padding) / 2);
  border-radius: var(--height);

  .route-bullet {
    margin: 0;
    margin-top: var(--padding);
  }

  &:is(a) {
    &:hover,
    &:focus-visible {
      background-color: var(--color-bg-btn-highlight);
    }
  }
}
